body {
	color: #666;
	font-family: "Gotham SSm A", "Gotham SSm B" !important;
	font-style: normal;
	font-weight: 400;
	font-size:15px;
	line-height: 22px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: $colorPurple;
	transition: background-color .2s linear, color .2s linear;
}

a:hover { color: $colorOrange; }